# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
*.env

# pytest cache
.pytest_cache/

# Docker cache / temp files
*.log
*.sqlite3

# OS files
.DS_Store

# Code
tests/

